@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    -webkit-user-select: none;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 12px;
    color: #424242;
}

header, footer, nav, section, aside, figure, figcaption, article, audio, video {
    display: block;
}

input {
    outline: none;
}

ul, li {
    list-style: none;
}

a, a:hover, a:active, a:visited, a:target {
    text-decoration: none;
    color: #424242;
}

img {
    display: block;
    border: none;
}

.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}

html {
    font-size: 100px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*--musicStart--*/
.music {
    display: none;
    position:absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: cover;
}
.music.move{
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}
@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*--SWIPER--*/
.swiper-container {
    height: 100%;
}
.swiper-slide {
    position: relative;
    height: 100%;
}
/*背景图*/
.pageFir {
    background: url("../img/back1.jpg") no-repeat;
    background-size: cover;
}
.pageTwo {
    background: url("../img/back2.jpg") no-repeat;
    background-size: cover;
}
.pageThird {
    background: url("../img/back3.jpg") no-repeat;
    background-size: 100% 100%;
}
.pageFour {
    background: url("../img/back4.jpg") no-repeat;
    background-size: cover;
}

.pageFir img, .pageThird img, .pageFour img {
    position: absolute;
}

/*首页*/
.pageFir img:nth-child(1) {
    z-index: 5;
    left: -0.1rem;
    top: 0;
    width: 6.86rem;
    height: 2.48rem;
    background: #00FFE9;
}
.pageFir img:nth-child(2) {
    z-index: 4;
    left: .5rem;
    bottom: .5rem;
    width: 5.5rem;
    height: 2.12rem;
    background: yellowgreen;
    border-radius:1rem;
}

.pageFir .content{
    position: absolute;
    bottom: 2rem;
    left: .8rem;
    z-index: 3;
    display: inline-block;
    width: 5rem;
    height: 4.5rem;
}
.pageFir .content li{
    padding: .12rem 0;
}

.pageFir .content li h4 {
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: .36rem;
    display: inline-block;
    margin-left: .2rem;
    color: goldenrod;
    font-weight: bold;
}
.pageFir .content li span{
    display: inline-block;
    font-size: .36rem;
    margin-left: .2rem;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bold;
}

#page1 img:nth-child(1) {
    -webkit-animation: fadeInLeft 2s .5s both;
    animation: fadeInLeft 2s .5s both;
}
#page1 img:nth-child(2){
    -webkit-animation: fadeInRight 1.5s 3.5s both;
    animation: fadeInRight 1.5s 3.5s both;
}

#page1 .content li:nth-child(1) span,#page1 .content li:nth-child(1) h4{
    -webkit-animation:   bounceInDown 1s 1s both;
    animation:   bounceInDown 1s 1s both;
}

#page1 .content li:nth-child(2) span,#page1 .content li:nth-child(2) h4{
    -webkit-animation:   bounceInDown 1s 1.4s both;
    animation:   bounceInDown 1s 1.4s both;
}

#page1 .content li:nth-child(3) span,#page1 .content li:nth-child(3) h4{
    -webkit-animation:   bounceInRight 1s 1.8s both;
    animation:   bounceInRight 1s 1.8s both;
}

#page1 .content li:nth-child(4) span,#page1 .content li:nth-child(4) h4{
    -webkit-animation:  bounceInUp 1s 2.2s both;
    animation:  bounceInUp 1s 2.2s both;
}

#page1 .content li:nth-child(5) span,#page1 .content li:nth-child(5) h4{
    -webkit-animation:  bounceInUp 1s 2.6s both;
    animation:  bounceInUp 1s 2.6s both;
}

/*第二页*/

.pageTwo img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 1;
}
.pageTwo img:nth-child(2){
    z-index: 4;
    position: absolute;
    left: .3rem;
    top: 1.8rem;

}
.pageTwo img:nth-child(3){
    z-index: 4;
    position: absolute;
    left: 3.6rem;
    top: 2rem;
    opacity: 0;

}
.pageTwo img:nth-child(4){
    z-index: 4;
    position: absolute;
    left: 2rem;
    top: 4.5rem;
    width: 2.2rem;
    height: 2.2rem;
}
.pageTwo img:nth-child(5){
    z-index: 4;
    position: absolute;
    left: .4rem;
    top: 6.5rem;
    opacity: 0;
}
.pageTwo img:nth-child(6){
    z-index: 4;
    position: absolute;
    left: 3.6rem;
    top: 6.8rem;

}
.pageTwo .skill{
    position: absolute;
    bottom: .9rem;
    left: 0;
    z-index: 5;
    display: inline-block;
    width: 6.4rem;
    height: 8.5rem;
    font-weight: 600;
    opacity: 1;
}
.pageTwo .skill li{
    opacity: 0;
}
.pageTwo .skill li:nth-child(1){
    position: absolute;
    top: 2.5rem;
    left: .8rem;
    color: blue;
    font-size: .3rem;
}
.pageTwo .skill li:nth-child(2){
    position: absolute;
    top: 3rem;
    right: 1.2rem;
    color: sienna;
    font-size: .3rem;
    opacity: 0;
}
.pageTwo .skill li:nth-child(3){
    position: absolute;
    top: 5.5rem;
    right: 3rem;
    color: black;
    font-size: .5rem;
}
.pageTwo .skill li:nth-child(4){
    position: absolute;
    top: 7.4rem;
    left: .85rem;
    color: blueviolet;
    font-size: .4rem;
    opacity: 0;
}
.pageTwo .skill li:nth-child(5){
    position: absolute;
    top: 7.8rem;
    right: 1.2rem;
    color: darkcyan;
    font-size: .4rem;
}

.pageTwo img:nth-child(1){
    z-index: 3;
    position: absolute;
    left: 1.1rem;
    top: .5rem;
    width: 4rem;
    height: 1rem;
    opacity: 1;
    border-radius: .1rem;
}
#page2 img:nth-child(even){
    -webkit-animation: beat 1.5s .1s both;
    animation: beat 1.5s .1s both;
}
#page2 img:nth-child(odd){
    -webkit-animation: upin 1.5s .5s both;
    animation: upin 1.5s .5s both;
}
#page2 img:nth-child(1){
    -webkit-animation: pulse 1.5s .5s both;
    animation: pulse 1.5s .5s both;
}
#page2 .skill li:nth-child(1){
    -webkit-animation:  swing 1.5s .5s infinite;
    animation: swing 1.5s .5s infinite;
}
#page2 .skill li:nth-child(2){
    -webkit-animation:  wobble 1.5s .5s infinite;
    animation: wobble 1.5s .5s infinite;
}
#page2 .skill li:nth-child(3){
    -webkit-animation:  jello 1.5s .5s infinite;
    animation: jello 1.5s .5s infinite;
}
#page2 .skill li:nth-child(4){
    -webkit-animation:  wobble 1.5s .5s infinite;
    animation: wobble 1.5s .5s infinite;
}
#page2 .skill li:nth-child(5){
    -webkit-animation:  swing 1.5s .5s infinite;
    animation: swing 1.5s .5s infinite;
}

/*第三页*/
.pageThird img{
    opacity: 0;
}
.pageThird img:nth-child(1){
    z-index: 4;
    position: absolute;
    left: .14rem;
    top: 0;
    width: 2.18rem;
    height: 2.8rem;
}
.pageThird img:nth-child(2){
    position: absolute;
    right: .46rem;
    bottom: .4rem;
    width: 1.8rem;
    height: 2.2rem;
    z-index: 4;
}
.pageThird img:nth-child(3){
    position: absolute;
    top: -.8rem;
    left: .3rem;
    z-index: 5;
    width: 5.9rem;
    height: 6.1rem;

}
.pageThird img:nth-child(4){
    position: absolute;
    top: 4.3rem;
    left: .8rem;
    z-index: 5;
    width: 4.7rem;
    height: 5.8rem;

}
.pageThird img:nth-child(5){
    position: absolute;
    top: -.8rem;
    left: .3rem;
    z-index: 5;
    width: 5.9rem;
    height: 6.1rem;

}
.pageThird img:nth-child(6){
    position: absolute;
    top: -.8rem;
    left: .3rem;
    z-index: 5;
    width: 5.9rem;
    height: 6.1rem;

}


#page3 img:nth-child(1){
    animation: bounceInUp 2s .1s both;
    -webkit-animation: bounceInUp 2s .1s both;
}
#page3 img:nth-child(2){
    animation: bounceInDown 2s .5s both;
    -webkit-animation: bounceInDown 2s .5s both;
}
#page3 img:nth-child(3){
    animation: bounceInUp 2s 1.5s both;
    -webkit-animation: bounceInUp 2s 1.5s both;
}
#page3 img:nth-child(4){
    animation: fadeInLeft1 2s 5s both;
    -webkit-animation: fadeInLeft1 2s 4s both;
}
#page3 img:nth-child(5){
    animation: fadeInRight 2s 2s both;
    -webkit-animation: fadeInRight 2s 2s both;
}
#page3 img:nth-child(6){
    animation: fadeInLeft 2s 3s both;
    -webkit-animation: fadeInLeft 2s 3s both;
}

/*第四页*/
.pageFour .top{
    width: 5rem;
    height: 1.6rem;
    position: absolute;
    top: .1rem;
    left: .3rem;
    opacity: 0;
}
.pageFour .top span{
    position: absolute;
    font-style: italic;
    font-size: .5rem;
    display: block;
    color: #0001ff;
    top:1.7rem;
    left:1rem;
}
.pageFour .top img:nth-child(1){
    position: absolute;
    top: .3rem;
    left: 2.3rem;
    width: 1rem;
    height: 1rem;
    opacity: 1;
}
.pageFour .top img:nth-child(2){
    position: absolute;
    top: .5rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    opacity: 1;
}
.pageFour .top img:nth-child(3){
    position: absolute;
    top: .5rem;
    right: .4rem;
    width: 1rem;
    height: 1rem;
    opacity: 1;
}


.pageFour .list{
    position: absolute;
    bottom: -.8rem;
    left: 0;
    z-index: 5;
    display: inline-block;
    width: 6.4rem;
    height: 8.5rem;
    font-weight: 600;
    opacity: 1;
}
.pageFour .list li:nth-child(1) img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 2rem;
    height: 2rem;
    opacity: 0;
}
.pageFour .list li:nth-child(1) div{
    background: #FFFFEE;
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: 6;
    width: 4.4rem;
    height: 2rem;
    opacity: 0;
}
.pageFour .list li:nth-child(1) div h2{
    font-size: .6rem;
    padding: .05rem .8rem;
}
.pageFour .list li:nth-child(1) div span{
    display: block;
    margin-top: .1rem;
    font-size: .4rem;
}

.pageFour .list li:nth-child(2) img{
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 6;
    width: 2rem;
    height: 2rem;
    opacity: 0;
}
.pageFour .list li:nth-child(2) div{
    background: #FFFFEE;
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 6;
    width: 4.4rem;
    height: 2rem;
    opacity: 0;
}
.pageFour .list li:nth-child(2) div h2{
    font-size: .6rem;
    padding: .05rem .8rem;
}
.pageFour .list li:nth-child(2) div span{
    display: block;
    margin-left: .1rem;
    margin-top: .1rem;
    font-size: .4rem;
}
.pageFour .list li:nth-child(3) img{
    position: absolute;
    top: 4rem;
    left: 1.5rem;
    z-index: 6;
    width: 2rem;
    height: 2rem;
    opacity: 0;
}
.pageFour .list li:nth-child(3) div:nth-child(1){
    background: #FFFFEE;
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 6;
    width: 1.5rem;
    height: 2rem;
    opacity: 0;
}
.pageFour .list li:nth-child(3) div:nth-child(2){
    background: #FFFFEE;
    position: absolute;
    top: 4rem;
    left: 3.5rem;
    z-index: 6;
    width: 2.9rem;
    height: 2rem;
    opacity: 0;
}
.pageFour .list li:nth-child(3) div:nth-child(1) h2{
    font-size: .6rem;
    padding: .5rem .3rem;
}
.pageFour .list li:nth-child(3) div:nth-child(2) span{
    display: block;
    margin-top: .6rem;
    margin-left: .2rem;
    font-size: .4rem;
}
.pageFour .list li:nth-child(4) img:nth-child(1){
    position: absolute;
    top: 6rem;
    right: 0;
    z-index: 6;
    width: 1.6rem;
    height: 1.8rem;
    opacity: 0;
}
.pageFour .list li:nth-child(4) img:nth-child(2){
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: 6;
    width: 1.6rem;
    height: 1.8rem;
    opacity: 0;
}
.pageFour .list li:nth-child(4) .name{
    background: #FFFFEE;
    position: absolute;
    top: 6rem;
    left: 1.6rem;
    z-index: 6;
    width: 1.6rem;
    height: 1.8rem;
    opacity: 0;
}
.pageFour .list li:nth-child(4) .wei{
    background: #FFFFEE;
    position: absolute;
    top: 6rem;
    left: 3.2rem;
    z-index: 6;
    width: 1.6rem;
    height: 1.8rem;
    opacity: 0;
}
.pageFour .list li:nth-child(4) .wei h2{
    font-size: .5rem;
    padding: .3rem .2rem;
}
.pageFour .list li:nth-child(4) .name span{
    display: block;
    margin-top: .1rem;
    margin-left: .2rem;
    font-size: .3rem;
}


#page4 .list li:nth-child(1) img{
    -webkit-animation: upin 1.5s .5s both;
    animation: upin 1.5s .5s both;
}
#page4 .list li:nth-child(1) div{
    animation: fadeInRight1 1.5s 1s both;
    -webkit-animation: fadeInRight1 1.5s 1s both;
}
#page4 .list li:nth-child(2) img{
    animation: fadeInLeft1 1s 1.3s both;
    -webkit-animation: fadeInLeft1 1s 1.3s both;
}
#page4 .list li:nth-child(2) div{
    animation: fadeInLeft 1.5s 1.5s both;
    -webkit-animation: fadeInLeft 1.5s 1.5s both;
}
#page4 .list li:nth-child(3) img{
    animation: bounceInDown 1.5s 1.7s both;
    -webkit-animation: bounceInDown 1.5s 1.7s both;
}
#page4 .list li:nth-child(3) div:nth-child(1){
    animation: fadeInLeft 1.5s 1.9s both;
    -webkit-animation: fadeInLeft 1.5s 1.9s both;
}
#page4 .list li:nth-child(3) div:nth-child(2){
    animation: fadeInRight1 1.5s 1.9s both;
    -webkit-animation: fadeInRight1 1.5s 1.9s both;
}
#page4 .list li:nth-child(4) img:nth-child(1){
    animation: fadeInRight1 1.5s 2.4s both;
    -webkit-animation: fadeInRight1 1.5s 2.4s both;
}
#page4 .list li:nth-child(4) img:nth-child(2){
    animation: bounceInDown 1.5s 2.4s both;
    -webkit-animation: bounceInDown 1.5s 2.4s both;
}
#page4 .list li:nth-child(4) .wei{
    animation: fadeInRight1 1.5s 2.6s both;
    -webkit-animation: fadeInRight1 1.5s 2.6s both;
}
#page4 .list li:nth-child(4) .name{
    animation: fadeInDownBig 1.5s 2.9s both;
    -webkit-animation: fadeInDownBig 1.5s 2.9s both;
}
#page4 .top{
    animation: bounceInUp 1.5s both;
    -webkit-animation: bounceInUp 1.5s both;
}
#page4 .top img{
    -webkit-animation: beat 1.5s .1s infinite;
    animation: beat 1.5s .1s infinite;
}


@-webkit-keyframes rotate {
    0%{
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50%{
        opacity: 1;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    0%{
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50%{
        opacity: 1;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        opacity: .3;
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        opacity: .7;
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        opacity: .9;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        opacity: .3;
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        opacity: .7;
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        opacity: .9;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes upin{
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}
@keyframes upin{
    0% {
        opacity: 0;
        transform: translateY(-100%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes beat {
    0% {-webkit-transform: scale(1)}
    15% {-webkit-transform: scale(1.2)}
    30% {-webkit-transform: scale(1)}
    55% {-webkit-transform: scale(1.1)}
    100% {-webkit-transform: scale(1)}
}
@keyframes beat {
    0% {-webkit-transform: scale(1)}
    15% {-webkit-transform: scale(1.2)}
    30% {-webkit-transform: scale(1)}
    55% {-webkit-transform: scale(1.1)}
    100% {-webkit-transform: scale(1)}
}

@-webkit-keyframes bounceInUp2 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30rem, 0);
        transform: translate3d(0, 30rem, 0);
    }

    60% {
        opacity: .5;
        -webkit-transform: translate3d(0, -.2rem, 0);
        transform: translate3d(0, -.2rem, 0);
    }

    75% {
        -webkit-transform: translate3d(0, .1rem, 0);
        transform: translate3d(0, .1rem, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -.05rem, 0);
        transform: translate3d(0, -.05rem, 0);
    }

    to {
        opacity: .7;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes bounceInUp2 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30rem, 0);
        transform: translate3d(0, 30rem, 0);
    }

    60% {
        opacity: .5;
        -webkit-transform: translate3d(0, -.2rem, 0);
        transform: translate3d(0, -.2rem, 0);
    }

    75% {
        -webkit-transform: translate3d(0, .1rem, 0);
        transform: translate3d(0, .1rem, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -.05rem, 0);
        transform: translate3d(0, -.05rem, 0);
    }

    to {
        opacity: .7;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30rem, 0);
        transform: translate3d(0, 30rem, 0);
    }

    60% {
        opacity: .5;
        -webkit-transform: translate3d(0, -.2rem, 0);
        transform: translate3d(0, -.2rem, 0);
    }

    75% {
        -webkit-transform: translate3d(0, .1rem, 0);
        transform: translate3d(0, .1rem, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -.05rem, 0);
        transform: translate3d(0, -.05rem, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30rem, 0);
        transform: translate3d(0, 30rem, 0);
    }

    60% {
        opacity: .5;
        -webkit-transform: translate3d(0, -.2rem, 0);
        transform: translate3d(0, -.2rem, 0);
    }

    75% {
        -webkit-transform: translate3d(0, .1rem, 0);
        transform: translate3d(0, .1rem, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -.05rem, 0);
        transform: translate3d(0, -.05rem, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    50%{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    100% {
        opacity: .6;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    50%{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    100% {
        opacity: .6;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInLeft1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    50%{
        opacity: .6;
        -webkit-transform: none;
        transform: none;
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    50%{
        opacity: .6;
        -webkit-transform: none;
        transform: none;
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight1 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: .7;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight1 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: .7;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 0;
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -.3rem, 0);
        transform: translate3d(0, -.3rem, 0);
        opacity: .6;
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -.15rem, 0);
        transform: translate3d(0, -.15rem, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-.04rem,0);
        transform: translate3d(0,-.04rem,0);
        opacity: 1;
    }
}
@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 0;
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -.3rem, 0);
        transform: translate3d(0, -.3rem, 0);
        opacity: .6;
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -.15rem, 0);
        transform: translate3d(0, -.15rem, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-.04rem,0);
        transform: translate3d(0,-.04rem,0);
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 20deg);
        transform: rotate3d(0, 0, 1, 20deg);
        opacity: .2;
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -15deg);
        transform: rotate3d(0, 0, 1, -15deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
        opacity: .5;
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
        opacity: 1;
    }
}
@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 20deg);
        transform: rotate3d(0, 0, 1, 20deg);
        opacity: .2;
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -15deg);
        transform: rotate3d(0, 0, 1, -15deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
        opacity: .5;
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
        opacity: 1;
    }
}

@-webkit-keyframes jello {
    from, 11.1%, to {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
        opacity: .4;
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
        opacity: .8;
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        opacity: 1;
    }
}
@keyframes jello {
    from, 11.1%, to {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
        opacity: .4;
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
        opacity: .8;
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        opacity: 1;
    }
}

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30rem, 0);
        transform: translate3d(0, -30rem, 0);
    }

    60% {
        opacity: .5;
        -webkit-transform: translate3d(0, .25rem, 0);
        transform: translate3d(0, .25rem, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -.1rem, 0);
        transform: translate3d(0, -.1rem, 0);
    }

    90% {
        -webkit-transform: translate3d(0, .05rem, 0);
        transform: translate3d(0, .05rem, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30rem, 0);
        transform: translate3d(0, -30rem, 0);
    }

    60% {
        opacity: .5;
        -webkit-transform: translate3d(0, .25rem, 0);
        transform: translate3d(0, .25rem, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -.1rem, 0);
        transform: translate3d(0, -.1rem, 0);
    }

    90% {
        -webkit-transform: translate3d(0, .05rem, 0);
        transform: translate3d(0, .05rem, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(30rem, 0, 0);
        transform: translate3d(30rem, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-.25rem, 0, 0);
        transform: translate3d(-.25rem, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(.1rem, 0, 0);
        transform: translate3d(.1rem, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-.05rem, 0, 0);
        transform: translate3d(-.05rem, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(30rem, 0, 0);
        transform: translate3d(30rem, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-.25rem, 0, 0);
        transform: translate3d(-.25rem, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(.1rem, 0, 0);
        transform: translate3d(.1rem, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-.05rem, 0, 0);
        transform: translate3d(-.05rem, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20rem, 0);
        transform: translate3d(0, -20rem, 0);
    }

    to {
        opacity: .7;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20rem, 0);
        transform: translate3d(0, -20rem, 0);
    }

    to {
        opacity: .7;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(4rem) rotate3d(0, 1, 0, -360deg);
        transform: perspective(4rem) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(4rem) translate3d(0, 0, 1.5rem) rotate3d(0, 1, 0, -190deg);
        transform: perspective(4rem) translate3d(0, 0, 1.5rem) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(4rem) translate3d(0, 0, 1.5rem) rotate3d(0, 1, 0, -170deg);
        transform: perspective(4rem) translate3d(0, 0, 1.5rem) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(4rem) scale3d(.95, .95, .95);
        transform: perspective(4rem) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(4rem);
        transform: perspective(4rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(4rem) rotate3d(0, 1, 0, -360deg);
        transform: perspective(4rem) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(4rem) translate3d(0, 0, 1.5rem) rotate3d(0, 1, 0, -190deg);
        transform: perspective(4rem) translate3d(0, 0, 1.5rem) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(4rem) translate3d(0, 0, 1.5rem) rotate3d(0, 1, 0, -170deg);
        transform: perspective(4rem) translate3d(0, 0, 1.5rem) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(4rem) scale3d(.95, .95, .95);
        transform: perspective(4rem) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(4rem);
        transform: perspective(4rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}